# Environment
.env

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Backend
backend/data/

# Frontend
frontend/node_modules/
frontend/dist/

# pnpm
.pnpm-store/

# TypeScript Build Cache
*.tsbuildinfo

# Raw Uncompressed Large Video File
/Video Project 5.mp4